<% include ./partials/header %>
<div class="ui main text container">
    <div class="ui huge header">Trail Stories from the path!!</div>
    <div class="segment ui top attached">
        <div class="ui divided items">
           <% trailStories.forEach(function (story){  %>
    <div class="item">
        <div class="image">
            <img src= '<%=story.image%>'>
        </div>
        <div class="content">
            <a class="header" href="/trailStories/<%=story._id%>"><%=story.title%></a>
            <div class="meta">
                <span><%=story.created.toDateString()%></span>
            </div>
            <div class="description">
                <p><%-story.comment.substring(0,100);%></p>
            </div>
            <div class="extra">
                <a class="ui floated basic orange button" href="/trailStories/<%=story._id%>"><%=story.title%>
                    <span id='read-more'>  READ MORE</span>
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </div>
</div>
<% }) %> 
        </div>
    </div>
</div>


<% include ./partials/footer%>

